body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-background {
  background: #bfd1e5;
  color: black;
}

.nav-bar {
  background: #bfd1e5;
}

.button {
  background: #542344;
  color: #bfd1e5;
}

.headings {
  color: #542344;
}

.heading-gradient {
  background: linear-gradient(to bottom, transparent, #bfd1e5);
  height: 200px;
}

.card {
  background-color: #d8bfaa;
  box-shadow: 1px 1px 5px 5px #9c6615;
  /* box-shadow: 0 0 15px 15px #d8bfaa; */
}
